# Tipos de datos.
###### Creado por Gabriel Missael Barco el 07/02/2020

- Datos
    - Categoricos
        - Nominales
        - Ordinales
    - Numericos
        - Discretos
        - Continuos
        
Una vez tienes datos sobre algo, puedes: 
- Representarlos
- Analizarlos
- Interpretarlos
- Inferenciar consecuencias

Checar bibiografia:
- Bayesian Data Analysis, Carlin, Stern and Rubin, CHAPMAN
- Bayesian Reasoning in Data Analysis, Giulio D´

## Estadistica 
Descriptiva, Inferencial... pero ¿Por qué necesito hacer estadistica y probabilidad? De manera general, para poder inferir algo de un conjunto de datos, probar hipotesis y, en el mejor de los casos, seleccionar un modelo para tomar decisiones. En astrofisica, hasta hace poco no se podia hacer nada de eso, porque no habia datos jajaja. Hoy en día hay datos suficientes para hacer inferencia, que es la parte que mas nos interesa en este campo.

Un detalle con los modelos astrofisico, es que siempre medimos una sola cosa: El universo, porque **¡Solo hay uno!**, si, tengo muchos datos pero todos del mismo objeto. 

## Probabilidad
**Definicion:** La proporcion entre el numero de casos favorables y un numero total de casos. Es una mediada del grado con el que crees que un evento va a ocurrir. 
Esta definicion aplica a cosmologia... ¿Cuál es la probabilidad de que dado un moledo, pueda obtener ciertos datos?

In [1]:
#Importamos librerias necesarias
import numpy as np
import pandas as pd
import math as mt
import matplotlib.pyplot as plt
import requests
import os

#Para hacer pull:
#git pull https://github.com/alxogm/DCIDA2020I.git master --aloww-unrelated-histories

In [2]:
#Leemos de un archivo excel
tabulador = pd.read_excel("../datos/tabulador_pe2019.xls", header = 9)

tabulador['TIPO'].unique()

array([nan, 'A'], dtype=object)

In [3]:
tabulador.describe()

,NIVEL,SUELDO BASE,CUOTAS SEGURIDAD SOCIAL,PREVISIÓN SOCIAL,AYUDA X SERVICIOS,APOYO FAMILIAR,GRATIFICACIÓN QUINCENAL,SUELDO MENSUAL BRUTO,IMPTO MENSUAL,ISSEG,ISSSTE,SUELDO MENSUAL NETO
count,79.000000,79.000000,79.000000,7.900000e+01,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,8.670886,14427.528244,2551.057005,1.913100e+03,4224.316456,13095.416510,13255.957722,49467.375935,11086.965356,2178.762464,372.294541,35829.353574
std,5.658489,12639.319936,1887.367119,2.745919e-12,5917.564742,12561.423626,16283.009818,48932.415025,14333.022606,1632.291459,257.338508,32902.782725
min,1.000000,3080.400000,600.678000,1.913100e+03,450.000000,1572.330000,0.000000,7616.508000,263.883632,508.266000,92.412000,6751.946368
25%,4.000000,4564.185105,890.016096,1.913100e+03,450.000000,3599.725827,936.540000,12353.567028,1173.958791,753.090542,136.925553,10289.592141
50%,8.000000,9458.572628,1844.421662,1.913100e+03,1012.000000,8611.753511,6545.820000,28148.204516,4414.420662,1560.664484,283.757179,22078.225282
75%,13.000000,22680.796123,4422.755244,1.913100e+03,4906.000000,16798.836156,19519.330000,70240.817524,15454.848684,3742.331360,680.423884,50363.213596
max,22.000000,59804.327930,5843.070000,1.913100e+03,25897.000000,64294.837780,75373.990000,233126.325711,69584.321342,5082.660000,760.410000,157698.934369

In [36]:
file = 'salarios_minimos.csv'
if not os.path.isfile(file):
    url = 'https://idconline.mx/laboral/salarios-minimos/salarios-minimos-1986-2007'
    html = requests.get(url).content
    df_list = pd.read_html(html, header = 0)
    df = df_list[-1]
    df.to_csv = ('salarios_minimos.csv')
else:
    df = pd.read_csv(file, usecols = (4, 5, 6),)

#df = df[1:]
df.head()
#lluvias = lluvias.drop(columns="Nombre")

,Fecha de publicación el DOF,Vigente a partir de:,Salario mínimo vigente en,Salario mínimo vigente en.1,Salario mínimo área geográfica,Salario mínimo área geográfica.1,Salario mínimo área geográfica.2
0,Fecha de publicación el DOF,Vigente a partir de:,ZLFN1,Resto del país,"""A""","""B""","""C"""
1,23 de diciembre de 2019,1o. enero 2020,$185.56,$123.22,NaN,NaN,NaN
2,26 de diciembre de 2018,1o. enero 2019,$176.72,$102.68,NaN,NaN,NaN
3,21 de diciembre de 2017,1o. enero 2018,NaN,NaN,$88.36,NaN,NaN
4,24 de noviembre de 2017,1o. diciembre 2017,NaN,NaN,88.36,NaN,NaN

In [1]:
geo = pd.MultiIndex.from_product([['Salario mínimo área geográfica'], ['A', 'B', 'C']])
vig = pd.MultiIndex.from_product([['Salario mínimo vigente en'], ['ZLFN1', 'Resto del país']])

NameError: name 'pd' is not defined